<section class="p-4">
  <h2 class="font-bold text-xl">Edit Snack</h2>
  <div class="grid md:grid-cols-2">
    <form
      class="mx-auto mb-0 mt-8 max-w-xl space-y-4"
      [formGroup]="editForm"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <label for="name" class="sr-only">Name</label>

        <div class="relative">
          <input
            type="text"
            class="w-full rounded-lg border border-gray-900 p-4 pe-12 text-sm placeholder:text-slate-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder=" Name"
            formControlName="name"
          />
          <em
            *ngIf="
              editForm.get('name')?.invalid && editForm.get('name')?.touched
            "
            class="text-red-600 text-sm mt-1 font-semibold"
            >*Name is required</em
          >
        </div>
      </div>

      <div>
        <label for="type" class="sr-only">Quantity In Stock</label>

        <div class="relative">
          <input
            type="number"
            class="w-full rounded-lg border border-gray-900 p-4 pe-12 text-sm placeholder:text-slate-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder=" Quantity In Stock"
            formControlName="quantityInStock"
          />
          <div
            *ngIf="
              editForm.get('quantityInStock')?.invalid &&
              editForm.get('quantityInStock')?.touched
            "
          >
            <em
              *ngIf="editForm.get('quantityInStock')?.hasError('required')"
              class="text-red-600 text-sm mt-1 font-semibold"
              >*Quantity In Stock is required</em
            >
            <em
              *ngIf="editForm.get('quantityInStock')?.hasError('pattern')"
              class="text-red-600 text-sm mt-1 font-semibold"
              >*Quantity In Stock must be a positive number</em
            >
          </div>
        </div>
      </div>
      <div>
        <label for="type" class="sr-only">Buying Price </label>

        <div class="relative">
          <input
            type="number"
            class="w-full rounded-lg border border-gray-900 p-4 pe-12 text-sm placeholder:text-slate-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder=" Buying Price"
            formControlName="buyingPrice"
          />
          <div
            *ngIf="
              editForm.get('buyingPrice')?.invalid &&
              editForm.get('buyingPrice')?.touched
            "
          >
            <em
              *ngIf="editForm.get('buyingPrice')?.hasError('required')"
              class="text-red-600 text-sm mt-1 font-semibold"
              >*Buying Price is required</em
            >
            <em
              *ngIf="editForm.get('buyingPrice')?.hasError('pattern')"
              class="text-red-600 text-sm mt-1 font-semibold"
              >*Buying Price must be a positive number</em
            >
          </div>
        </div>
      </div>
      <div>
        <label for="type" class="sr-only">Selling Price </label>

        <div class="relative">
          <input
            type="number"
            class="w-full rounded-lg border border-gray-900 p-4 pe-12 text-sm placeholder:text-slate-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder=" Selling Price"
            formControlName="sellingPrice"
          />
          <div
            *ngIf="
              editForm.get('sellingPrice')?.invalid &&
              editForm.get('sellingPrice')?.touched
            "
          >
            <em
              *ngIf="editForm.get('sellingPrice')?.hasError('required')"
              class="text-red-600 text-sm mt-1 font-semibold"
              >*Selling Price is required</em
            >
            <em
              *ngIf="editForm.get('sellingPrice')?.hasError('pattern')"
              class="text-red-600 text-sm mt-1 font-semibold"
              >*Selling Price must be a positive number</em
            >
          </div>
        </div>
      </div>
      <div class="my-4">
        <button
          class="w-full cursor-pointer text-center group relative inline-block text-sm font-medium text-blue-600 focus:outline-none focus:ring active:text-red-500"
        >
          <span class="absolute inset-0 border border-current"></span>
          <span
            class="block border text-white border-current bg-blue-500 px-12 py-2 transition-transform group-hover:-translate-x-1 group-hover:-translate-y-1"
          >
            Edit
          </span>
        </button>
      </div>
    </form>

    <app-snack-card [snackItem]="snack"></app-snack-card>
  </div>
</section>
