<section
  class="card shadow-md mx-w-[300px] p-4 border rounded-md dark:bg-gray-800 dark:border-0 dark:rounded-none"
>
  <!-- card header -->
  <div class="flex gap-4 items-center justify-between">
    <div class="flex gap-4 uppercase">
      <h2 class="font-bold mt-1 text-white">{{ snackItem().name }}</h2>
    </div>

    <!-- quantity -->
    <div class="flex gap-2">
      <span
        class="p-2 bg-blue-400 text-white font-semibold text-xs rounded-full"
        >Qty: {{ snackItem().quantityInStock }}</span
      >
      <span
        class="p-2 bg-green-500 text-xs text-white font-semibold rounded-full"
        appRoleBased="OWNER | ADMIN"
        >Sold: {{ snackItem().sold }}</span
      >
    </div>
    <!-- card icons -->
    <div appRoleBased="OWNER | ADMIN">
      <div class="flex gap-4 items-center justify-between">
        <span [routerLink]="['/snacks/edit', snackItem()._id]"
          ><i class="fa-solid fa-pencil cursor-pointer text-green-600"></i
        ></span>
        <span (click)="deleteSnack(snackItem())"
          ><i class="fa-solid fa-trash cursor-pointer text-red-600"></i
        ></span>
      </div>
    </div>
  </div>

  <div class="my-3">
    @if (snackItem().image) {
    <img [src]="snackItem().image" alt="" class="object-fill max-h-48 w-full" />
    }@else {
    <img
      src="https://dummyimage.com/300"
      alt=""
      class="object-fill max-h-48 w-full"
    />
    }
  </div>

  <!-- info -->
  <div class="flex justify-between">
    <div class="flex flex-col gap-2 my-4">
      <p
        class="p-1 text-sm rounded-lg bg-purple-600 text-white text-center"
        appRoleBased=" ADMIN"
      >
        Buy Price:{{ snackItem().buyingPrice | currency }}
      </p>
      <p class="p-1 text-sm rounded-lg bg-red-600 text-white text-center">
        Sell Price:{{ snackItem().sellingPrice | currency }}
      </p>
    </div>
    <div class="ml-4 mt-auto">
      <p class="text-xs text-slate-500 dark:text-slate-400">
        Created at:{{ snackItem().createdAt | date }}
      </p>
      <p class="text-xs text-slate-500 dark:text-slate-400">
        Updated at:{{ snackItem().updatedAt | date }}
      </p>
    </div>
  </div>
</section>
