<section class="p-4">
  <h2 class="font-bold text-xl">Add New Device</h2>
  <div>
    <form
      class="mx-auto mb-0 mt-8 max-w-xl space-y-4"
      [formGroup]="createForm"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <label for="name" class="sr-only">Name</label>

        <div class="relative">
          <input
            type="text"
            class="w-full rounded-lg border border-gray-900 p-4 pe-12 text-sm placeholder:text-slate-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder=" Name"
            formControlName="name"
          />
          <em
            *ngIf="
              createForm.get('name')?.invalid && createForm.get('name')?.touched
            "
            class="text-red-600 text-sm mt-1 font-semibold"
            >*Name is required</em
          >
        </div>
      </div>
      <div>
        <label for="type" class="sr-only">Type</label>

        <div class="relative">
          <input
            type="text"
            class="w-full rounded-lg border border-gray-900 p-4 pe-12 text-sm placeholder:text-slate-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder=" type"
            formControlName="type"
          />
          <em
            *ngIf="
              createForm.get('type')?.invalid && createForm.get('type')?.touched
            "
            class="text-red-600 text-sm mt-1 font-semibold"
            >*Type is required</em
          >
        </div>
      </div>
      <div>
        <label for="type" class="sr-only">Duo Price Per Hour</label>

        <div class="relative">
          <input
            type="number"
            class="w-full rounded-lg border border-gray-900 p-4 pe-12 text-sm placeholder:text-slate-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder=" Duo Price Per Hour"
            formControlName="duoPricePerHour"
          />
          <div
            *ngIf="
              createForm.get('duoPricePerHour')?.invalid &&
              createForm.get('duoPricePerHour')?.touched
            "
          >
            <em
              *ngIf="createForm.get('duoPricePerHour')?.hasError('required')"
              class="text-red-600 text-sm mt-1 font-semibold"
              >*duo Price Per Hour is required</em
            >
            <em
              *ngIf="createForm.get('duoPricePerHour')?.hasError('pattern')"
              class="text-red-600 text-sm mt-1 font-semibold"
              >*duo Price Per Hour must be a positive number</em
            >
          </div>
        </div>
      </div>
      <div>
        <label for="type" class="sr-only">Multi Price Per Hour</label>

        <div class="relative">
          <input
            type="number"
            class="w-full rounded-lg border border-gray-900 p-4 pe-12 text-sm placeholder:text-slate-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder=" Multi Price Per Hour"
            formControlName="multiPricePerHour"
          />
          <div
            *ngIf="
              createForm.get('multiPricePerHour')?.invalid &&
              createForm.get('multiPricePerHour')?.touched
            "
          >
            <em
              *ngIf="createForm.get('multiPricePerHour')?.hasError('required')"
              class="text-red-600 text-sm mt-1 font-semibold"
              >*multi Price Per Hour is required</em
            >
            <em
              *ngIf="createForm.get('multiPricePerHour')?.hasError('pattern')"
              class="text-red-600 text-sm mt-1 font-semibold"
              >*multi Price Per Hour must be a positive number</em
            >
          </div>
        </div>
      </div>
      <div class="my-4">
        <button
          class="w-full cursor-pointer text-center group relative inline-block text-sm font-medium text-blue-600 focus:outline-none focus:ring active:text-red-500"
        >
          <span class="absolute inset-0 border border-current"></span>
          <span
            class="block border text-white border-current bg-blue-500 px-12 py-2 transition-transform group-hover:-translate-x-1 group-hover:-translate-y-1"
          >
            Create
          </span>
        </button>
      </div>
    </form>
  </div>
</section>
